* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poetsen One", sans-serif;
    color: #ff00a2;
    background-color: #2d0370;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#formulario {
    background-color: #a785da;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

#botao {
    width: 100%;
    padding: 12px;
    background-color: #cc00ff;
    color: rgb(241, 231, 255);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#botao:hover {
    background-color: #f700ff;
}

.input{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #9d4cff;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

.input:focus {
    border-color: #5800a0;
}



.titulo{
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    display: inline-block;
}