* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* @ */

@font-face {
    font-family: Hey_Comic;
    src: local(Hey_Comic), url(../fonte/Hey_Comic.ttf);
}
@font-face {
    font-family: "Hey Comic";
    src: local("Hey Comic"), url(../fonte/Hey_Comic.otf);
}

/* /@ */

body {
  font-family: "Hey Comic", sans-serif;
  background-color: #fffef2;
}

header{
    min-height: 350px;
    max-height: 350px;
    max-width: 1100px;

    border-bottom: #8c0000 solid 1px;
}


/* ------------------ cabeçalho ------------------- */

#banner_perfil_foto{
    position: absolute;
}

#imagem_banner>img{
    width: 1485px;
    max-height: 200px;
    position: absolute;
    left: 50px;

    box-shadow: 0 2px 8px #8c000033;
}

#imagem_perfil>img{
    min-width: 70px;
    min-height: 70px;
    max-width: 70px;
    max-height: 70px;
    border-radius: 100%;

    position: absolute;
    top: 170px;
    left: 100px;

    box-shadow: 0 2px 8px #8c000033;
}

#edit_perfil{
    background-color: #fffef2;
    border-radius: 13px;
    padding: 5px;

    position: absolute;
    top: 10px;
    left: 90%;
}
#edit_perfil>a{
    color: #8c0000;
    text-decoration: none;
}


#desc_perfil>p{
    position: absolute;
    top: 200px;
    left: 190px;

    font-family: serif;
    font-size: 15px;
}
#nome_perfil{
    position: absolute;
    top: 250px;
    left: 100px;

    font-size: 30px;
}
#user>p{
    position: absolute;
    top: 280px;
    left: 100px;

    font-family: serif;
}


/* ------------------ /cabeçalho ------------------- */


/* ------------------ barra lateral ------------------- */

#titulo{
    color: #8c0000;
    font-size: 15px;
}

#barra_lateral{
    width: 50px;   
    height: 100vh;   
    background-color: #FFF9BD;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.botao_barra_lateral{
    max-width: 30px;
    padding: 10px;
}
.botao_barra_lateral_A>img{
    max-width: 30px;
}

#sair_A{
    margin-top: 330px;
}
#sair_A>a{
    padding: 10px;
    color: #8c0000;
    text-decoration: none;
}

#florzinha>img{
    max-width: 50px;
    transform: scaleX(-1);
    margin-top: 10px;
}

/* ------------------ /barra lateral ------------------- */


/* ------------------ outra barra lateral ------------------- */

#outra_barra_lateral{
    border-left: #8c0000 solid 1px;
    padding-left: 10px;
    min-height: 60%;

    position: absolute;
    top: 30%;
    left: 78%;
}

#mural_links>a{
    text-decoration: none;
    color: #8c0000;
    font-size: 20px;

}

#pasta_links>a{
    text-decoration: none;
    color: black;
    font-size: 20px;

}

#botao_criar_postagem>a{
    text-decoration: none;
    color: black;
    font-size: 20px;

}
#botao_criar_postagem>img{
    min-width: 50px;
    max-width: 50px;
    max-height: 50px;

}

/* ------------------ /outra barra lateral ------------------- */


/* ------------------ postagem ------------------- */

#postagem{
    min-width: 500px;
    max-width: 500px;
    margin: 120px;
    padding: 20px;

    display: block; 

    border: #8c0000 solid 1px;
    border-radius: 13px;
}

#post_alt_botao{
    max-width: 33px;
    background-color: #fffef2;
    text-decoration: none;
    color: #8c0000;
    font-size: 40px;
    border: 0;
    outline: 0;
}
#post_alt_botao>a{
    text-decoration: none;
    color: #8c0000;
}

#post_imagem_descricao{
    display: flex;

    min-width: 456px;
    max-width: 456px;
}
#post_imagem>img{
    max-width: 300px;
    border: #8c0000 solid 1px;
    border-radius: 13px;
}
#postagem>p{
    padding: 10px;
}


/* ------------------ /postagem ------------------- */