* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* @ */

@font-face {
    font-family: Hey_Comic;
    src: local(Hey_Comic), url(../fonte/Hey_Comic.ttf);
}
@font-face {
    font-family: "Hey Comic";
    src: local("Hey Comic"), url(../fonte/Hey_Comic.otf);
}

/* /@ */

body {
    font-family: "Hey Comic", sans-serif;
    background-color: #fffef2;
}


/* ------------------------ textos ------------------------------- */

#titulo_mural{
    font-family: "Hey Comic", sans-serif;
    font-size: 40px;
    color: #9d0303;

    position: absolute;
    left: 90%;
}

#titulo_formulario{
    text-align: center;
    color: #9d0303;
    font-size: 30px;
    font-weight: bold;
}

#termos_e_politica_texto{
    font-family: serif;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#ou_paragrafo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#criar_conta_paragrafo{
    display: flex;
    flex-wrap: nowrap;
}
#criar_conta_paragrafo>a{
    color: #8c0000;
    text-decoration: none;
}


/* ------------------------ /textos ------------------------------- */

/* -------------------------- BOTÕES ----------------------------------*/

#botao_criar{
    width: 100%;
    height: 30px;
    background-color: #6F3198;
    border-radius: 100px;
    cursor: pointer;
    color: #fffef2;
    font-family: "Hey Comic", sans-serif; 
    border: 0; 
}
#botao_criar:hover, #botao_criar:active{
    background-color: #4d1d6d;
}
#botao_criar:active {
    color: #d5d4cd;
}

#botao_google>a{
    color: #8c0000;
    text-decoration: none;
}
#botao_google{
    display: flex;
    height: 30px;
    padding: 5px;
    border: solid black 1px;
    border-radius: 100px;
}

/* -------------------------- /BOTÕES ----------------------------------*/

/* -------------------------------- imagens ------------------------------ */

#google_logo{
    max-width: 20px;
}

#mao>img{
    max-width: 100px;
    transform: scaleX(-1);

    position: absolute;
    top: 60%;
    left: 90%;
}
#chapeu>img{
    max-width: 200px;
    transform: scaleX(-1);
    transform: rotate(45deg);

    position: absolute;
    top: 2%;
    left: 39%;
}
#karuy>img{
    max-width: 300px;
    transform: scaleX(-1);

    position: absolute;
    top: 5%;
    left: 100%; 
}
#balao>img{
    max-width: 300px;
    transform: scaleX(-1);

    position: absolute;
    top: 20%;
    left: 50%;
}
#solzin>img{
    max-width: 250px;
    transform: scaleX(-1);

    position: absolute;
    top: 60%;
    left: 80%;
}

/* -------------------------------- /imagens ------------------------------ */

#formulario {
    background-color: #fffba7;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    max-width: 300px;
    height: 570px;
    box-sizing: border-box;

    position: absolute;
    left: 10%;
    top: 10%;
}

.mensagem_erro{
    color: #8c0000;
    font-size: 13px;
}

.input{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #b10000;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

.input:focus {
    border-color: #ac0000;
}